/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

/*=============== VARIABLES CSS ===============*/

:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --hue: 14;
    --first-color: hsl(var(--hue), 91%, 54%);
    --first-color-alt: hsl(var(--hue), 91%, 50%);
    --accent-color: hsl(14deg 97% 60%);
    --title-color: hsl(var(--hue), 4%, 100%);
    --text-color: hsl(var(--hue), 4%, 85%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    /*Green gradient*/
    --body-color: linear-gradient(90deg, hsl(194, 76%, 25%) 0%, hsl(200, 95%, 10%) 100%);
    --container-color: linear-gradient(136deg, hsl(194, 76%, 25%) 0%, hsl(200, 95%, 10%) 100%);
    /*Red gradient*/
    /* --body-color: linear-gradient(90deg, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
  --container-color: linear-gradient(136deg, hsl(360, 28%, 35%) 0%, hsl(18, 28%, 35%) 100%); */
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;
    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* Responsive typography */

@media screen and (min-width: 992px) {
     :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1.home__title:hover p.accent {
    color: var(--accent-color);
}

h1>p.accent {
    margin-left: -10px;
    display: inline;
}

a.nav__logo:hover p.accent {
    color: var(--accent-color);
}


/*=============== REUSABLE CSS CLASSES ===============*/

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}


/*=============== LAYOUT ===============*/

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    display: -ms-grid;
}

.main {
    overflow: hidden;
    /*For animation*/
}


/*=============== HEADER ===============*/

.header {
    width: 100%;
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}


/*=============== NAV ===============*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-medium);
    gap: 0;
}

.nav__logo-img {
    width: 1.25rem;
    margin-right: 0.5rem;
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        transition: 0.4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

.nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__close {
    font-size: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: 0.4s;
}

.nav__link:hover {
    color: var(--text-color);
}


/* Show menu */

.show-menu {
    top: 0;
}


/* Change background header */

.scroll-header {
    background: var(--container-color);
}


/* Active link */

.active-link {
    position: relative;
}

.active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}


/*=============== HOME ===============*/

.home__content {
    row-gap: 1rem;
}

.home__group {
    display: grid;
    position: relative;
    padding-top: 2rem;
}

.home__img {
    height: 250px;
    justify-self: center;
    margin-top: 80px;
}

.home__indicator {
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}

.home__indicator::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--title-color);
    top: -3rem;
    right: 45%;
}

.home__details-img {
    position: absolute;
    right: 0.5rem;
}

.home__details-title,
.home__details-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-1);
}

.home__buttons {
    display: flex;
    justify-content: space-between;
}


/* Swiper Class */

.swiper-pagination {
    position: initial;
    margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
    width: 1.5rem;
    height: 5px;
    border-radius: 0.5rem;
}


/*=============== BUTTONS ===============*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
}

.button--ghost {
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.75rem 1.5rem;
}

.button--ghost:hover {
    background: none;
}

.button--link {
    color: var(--title-color);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

button.button.btn-small {
    padding: 0.75rem 1rem;
}


/*=============== MODAL ===============*/


/*** Modal ***/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    background: hsla(188.6, 13.6%, 40.4%, 90%);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    flex: 1;
    margin: 1rem;
    max-width: 870px;
}

#contactTitle {
    color: #717070;
}

.modal-dialog.wide .row {
    margin: 0 0 30px;
}

.modal-dialog.wide .row .row {
    margin-left: -15px;
    margin-right: -15px;
}

.modal-header {
    border: none;
    padding: 35px 20px 0;
    position: relative;
}

.modal-header .close {
    font-size: 1.5rem;
    background: white;
    position: absolute;
    top: 0px;
    right: 5px;
}

.modal-content {
    background-color: #fffefd;
    border: none;
    box-shadow: 0 3px 6px rgba(8, 33, 30, 0.2);
    border-radius: 8px;
    color: #717070;
}

.form-group {
    margin-bottom: 1rem;
}

.modal-body {
    padding: 10px 20px;
}

.modal-body li {
    margin-bottom: 9px;
}

.modal-footer {
    padding: 30px 0 15px;
}


/* Fade Up Animation 

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, 100vh, 0);
    -ms-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.modal-backdrop {
    background-color: #fffefd;
    z-index: 1025;
}

.modal-backdrop.in {
    opacity: 0.9;
}
*/

.modal-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

textarea.modal-input {
    height: auto;
    font-family: var(--body-font);
    accent-color: #f4511f;
}


/*=============== CATEGORY ===============*/

h4.category__title {
    margin-bottom: 12px;
}

.category__description {
    margin-bottom: 1rem;
}

.category__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
}

.category__data {
    text-align: center;
}

.category__img {
    width: 120px;
    margin-bottom: var(--mb-0-75);
    transition: 0.3s;
}

.category__title {
    margin-bottom: var(--mb-0-25);
}

.category__data:hover .category__img {
    transform: translateY(-0.5rem);
}


/*=============== ABOUT ===============*/

.about__container {
    row-gap: 2rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-2);
}

.about__img {
    width: 200px;
    justify-self: center;
}


/*=============== INTERESTS ===============*/

.interest__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.interest__content {
    position: relative;
    background: var(--container-color);
    border-radius: 1rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    overflow: hidden;
}

.interest__img {
    width: 90px;
    height: 90px;
    transition: 0.3s;
}

.interest__subtitle,
.interest__price {
    display: block;
}

.interest__subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-5);
}

.interest__title,
.interest__price {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
}

.interest__button {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    right: -3rem;
    bottom: 0;
}

.interest__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.interest__content:hover .interest__img {
    transform: translateY(-0.5rem);
}

.interest__content:hover .interest__button {
    right: 0;
}


/*=============== DISCOUNT ===============*/

.discount__container {
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: 0.75rem;
}

.discount__data {
    text-align: center;
}

.discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.discount__img {
    width: 200px;
    justify-self: center;
}


/*=============== NEW ARRIVALS ===============*/

.new__container {
    padding-top: 1rem;
}

.new__img {
    width: 120px;
    margin-bottom: var(--mb-0-5);
    transition: 0.3s;
}

.new__content {
    position: relative;
    background: var(--container-color);
    width: 242px;
    padding: 2rem 0 1.5rem 0;
    border-radius: 0.75rem;
    text-align: center;
    overflow: hidden;
}

.new__tag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: var(--title-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.new__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.new__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
}

.new__prices {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

.new__price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.new__discount {
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.new__button {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.new__icon {
    font-size: 1.25rem;
}

.new__content:hover .new__img {
    transform: translateY(-0.5rem);
}

.new__content:hover .new__button {
    right: 0;
}


/*=============== NEWSLETTER ===============*/

.newsletter__description {
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.newsletter__form {
    background: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.75rem;
}

.newsletter__input {
    width: 70%;
    padding: 0 0.5rem;
    background: none;
    color: var(--title-color);
}

.newsletter__input::placeholder {
    color: var(--text-color);
}


/*=============== FOOTER ===============*/

.footer {
    position: relative;
    overflow: hidden;
}

.footer__img-one,
.footer__img-two {
    position: absolute;
    transition: 0.3s;
}

.footer__img-one {
    width: 100px;
    top: 6rem;
    right: -2rem;
}

.footer__img-two {
    width: 150px;
    bottom: 4rem;
    right: 4rem;
}

.footer__img-one:hover,
.footer__img-two:hover {
    transform: translateY(-0.5rem);
}

.footer__container {
    row-gap: 2rem;
}

.footer__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.footer__logo-img {
    width: 20px;
}

.footer__description {
    margin-bottom: var(--mb-2-5);
}

.footer__social {
    display: flex;
    column-gap: 0.75rem;
}

.footer__social-link {
    display: inline-flex;
    background: var(--container-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: var(--title-color);
    font-size: 1rem;
}

.footer__social-link:hover {
    background: var(--body-color);
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer__links {
    display: grid;
    row-gap: 0.35rem;
}

.footer__link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: 0.3s;
}

.footer__link:hover {
    color: var(--title-color);
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}


/*=============== SCROLL UP ===============*/

.scrollup {
    position: fixed;
    background: var(--container-color);
    right: 1rem;
    bottom: -20%;
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 0.25rem;
    z-index: var(--z-tooltip);
    opacity: 0.8;
    transition: 0.4s;
}

.scrollup__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.scrollup:hover {
    background: var(--container-color);
    opacity: 1;
}


/* Show Scroll Up*/

.show-scroll {
    bottom: 3rem;
}


/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
    width: 0.6rem;
    background: #413e3e;
}

::-webkit-scrollbar-thumb {
    background: #272525;
    border-radius: 0.5rem;
}


/*===============  BREAKPOINTS ===============*/


/* For small devices */

@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home__img {
        height: 200px;
    }
    .home__buttons {
        flex-direction: column;
        width: max-content;
        row-gap: 1rem;
    }
    .category__container,
    .interest__container {
        grid-template-columns: 0.8fr;
        justify-content: center;
    }
    .modal-dialog {
        margin: 1rem;
    }
}


/* For medium devices */

@media screen and (min-width: 576px) {
    .about__container {
        grid-template-columns: 0.8fr;
        justify-content: center;
    }
    .newsletter__container {
        display: grid;
        grid-template-columns: 0.7fr;
        justify-content: center;
    }
    .newsletter__description {
        padding: 0 3rem;
    }
    .category__container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .modal-dialog {
        margin: 2rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }
    .section {
        padding: 7rem 0 2rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__img,
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__link {
        text-transform: initial;
        font-weight: initial;
    }
    .home__content {
        padding: 8rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .home__img {
        height: 300px;
    }
    .swiper-pagination {
        margin-top: var(--mb-2);
    }
    .category__container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .about__title,
    .about__data {
        text-align: initial;
    }
    .about__img {
        width: 250px;
    }
    .interest__container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2rem;
    }
    .discount__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        padding: 3rem 0;
        border-radius: 3rem;
    }
    .discount__img {
        width: 350px;
        order: -1;
    }
    .discount__data {
        padding-right: 6rem;
    }
    .newsletter__container {
        grid-template-columns: 0.5fr;
    }
    .footer__container {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }
    .footer__img-two {
        right: initial;
        bottom: 0;
        left: 15%;
    }
}


/* For large devices */

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .section__title {
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
    .home__content {
        padding-top: 9rem;
        gap: 3rem;
    }
    .home__group {
        padding-top: 0;
    }
    .home__img {
        height: 400px;
        transform: translateY(-3rem);
    }
    .home__indicator {
        top: initial;
        right: initial;
        bottom: 15%;
        left: 45%;
    }
    .home__indicator::after {
        top: 0;
        height: 75px;
    }
    .home__details-img {
        bottom: 0;
        right: 58%;
    }
    .home__title {
        margin-bottom: var(--mb-1-5);
    }
    .home__description {
        margin-bottom: var(--mb-2-5);
        padding-right: 2rem;
    }
    .category__container {
        column-gap: 3rem;
    }
    .category__img {
        width: 200px;
    }
    .about__container {
        column-gap: 7rem;
    }
    .about__img {
        width: 350px;
    }
    .about__description {
        padding-right: 2rem;
    }
    .interest__container {
        gap: 3.5rem;
    }
    .interest__content {
        border-radius: 1.5rem;
    }
    .interest__img {
        width: 110px;
        height: 110px;
    }
    .interest__title {
        font-size: var(--h3-font-size);
    }
    .discount__container {
        column-gap: 7rem;
    }
    .new__content {
        width: 310px;
        border-radius: 1rem;
        padding: 2rem 0;
    }
    .new__img {
        width: 150px;
    }
    .new__img,
    .new__subtitle {
        margin-bottom: var(--mb-1);
    }
    .new__title {
        font-size: var(--h3-font-size);
    }
    .footer__copy {
        margin-top: 6rem;
    }
    .modal-dialog {
        margin: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    .home__img {
        height: 420px;
    }
    .swiper-pagination {
        margin-top: var(--mb-2-5);
    }
    .footer__img-one {
        width: 120px;
    }
    .footer__img-two {
        width: 180px;
        top: 30%;
        left: -3%;
    }
}

.skills {
    list-style: none;
    font-size: 15px;
    padding: 0;
}

.skills .skill {
    display: block;
    position: relative;
    height: 60px;
    margin: 10px auto;
    width: 90%;
}

@media only screen and (min-width: 900px) {
    .skills .skill {
        display: flex;
        width: 90%;
        margin: 0px;
    }
}

.skills .skill:before,
.skills .skill:after {
    content: "";
    position: absolute;
    border-radius: 20px;
    margin-top: 25px;
}

.skills .skill:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    background: #eeeeee;
}

.skills .skill:after {
    background-color: #2ea994;
    background: repeating-linear-gradient(-45deg, #2ea994, #2ea994 10px, #31b59f 10px, #31b59f 20px);
    height: 16px;
    top: 2px;
    right: 95%;
    bottom: 2px;
    left: 2px;
    -webkit-animation: fill 2s both;
    -moz-animation: fill 2s both;
    animation: fill 2s both;
}

.skills .skill:nth-child(1):after {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.skills .skill:nth-child(2):after {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.skills .skill:nth-child(3):after {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.skills .skill:nth-child(4):after {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

.skills .skill:nth-child(5):after {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.skills .skill[aria-label="novice"]:after {
    right: 75%;
}

.skills .skill[aria-label="average"]:after {
    right: 50%;
}

.skills .skill[aria-label="adept"]:after {
    right: 35%;
}

.skills .skill[aria-label="advanced"]:after {
    right: 20%;
}

.skills .skill[aria-label="elite"]:after {
    right: 10%;
}

.skills .skill[aria-label="pro"]:after {
    right: 2px;
}

.skills .skill[aria-label="l33tasuar"]:after {
    right: -10%;
}

@-webkit-keyframes fill {
    from {
        right: 100%;
    }
}

@-moz-keyframes fill {
    from {
        right: 100%;
    }
}

@keyframes fill {
    from {
        right: 100%;
    }
}